<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="/public/assests/css/style.css">
</head>

<body>
  <nav>
    <div class="navbar">
      <label class="logo">Logo</label>
      <ul class="col">
        <li><a href="#about">About</a></li>
        <li><a href="#rules">Rules</a></li>
        <li><a href="#coc">Code of Conduct</a></li>
        <li><a href="#faq">FAQ</a></li>
      </ul>
    </div>
  </nav>
  <main>

    <section class="reg">
      <div class="hero">
        <!-- <div class="grid">
          <div class="grid__cnt grid__cnt__bg item-5">
            <div class="grid__cnt__img"
              data-displacement="https://ucarecdn.com/a410ae0a-537a-4b3d-9d4f-fe3be02eec10/8.jpg" data-intensity="-0.8">
              <img src="https://ucarecdn.com/a60721db-8342-4c58-ada0-7b43d0661b63/item5.jpg" alt="Image" />
              <img src="https://ucarecdn.com/0af456f1-712f-4198-9ecd-2d6449ab955c/item5hover.jpg" alt="Image Alt" />
            </div>
          </div>
        </div> -->
        <div class="hero-text">
          <h1>Design Day</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
          <button class="btn">Register</button>

        </div>
    </section>

    <section class="s1">
      <div id="about">
        <h2>About</h2><br>
        <article>Design Day is a program organized by Google as part of its Solution Challenge initiative. The Solution
          Challenge is an annual competition that encourages students and young professionals to use technology to solve
          real-world problems. The competition is open to individuals and teams of up to four members, and participants
          are required to submit a solution that addresses one of Google's designated global problems.<br><br>

          Design Day is a one-day event that takes place as part of the Solution Challenge. During the event,
          participants are invited to collaborate with each other and with Google mentors to develop their proposed
          solutions. The event provides an opportunity for participants to refine their ideas, receive feedback from
          experts, and learn more about Google's technologies and design principles.<br><br>

          Design Day typically involves a series of workshops and activities focused on design thinking and
          problem-solving. Participants have the opportunity to work with Google's Design Sprint methodology, which
          involves a five-day process for solving complex problems and creating new products or services.<br><br>

          At the end of Design Day, participants present their solutions to a panel of judges, who evaluate the
          proposals based on criteria such as innovation, impact, and feasibility. The winning teams receive prizes and
          may also have the opportunity to work with Google to further develop and implement their solutions.<br><br>

          Overall, Design Day is a valuable opportunity for young professionals to gain experience in design thinking
          and problem-solving, collaborate with others, and work on solutions to real-world problems.</article><br>
      </div>
    </section>
    <section className="my-20">
      <div id="rules">
        <h2>Rules</h2><br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p><br>
      </div>
    </section>

    <section className="my-20">
      <div id="venue">
        <h2>Venue</h2><br>
        <p>Thakur College of Engineering and Technology. </p><br>
        <p><iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3767.745722943899!2d72.87241691437877!3d19.206305352855832!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b0e57647569d%3A0xc0aec329c82d3555!2sThakur%20College%20of%20Engineering%20and%20Technology!5e0!3m2!1sen!2sin!4v1677241344962!5m2!1sen!2sin"
            width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe></p>
      </div>
    </section>

    <section className="my-20">
      <div id="coc">

        <h2>Code of Conduct</h2><br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p><br>
      </div>
    </section>
    <div id="faq">
      <h1>Frequently Asked Questions</h1>
      <div class="faq-container">
        <div class="faq">
          <h3 class="faq-title">
            Lorem ipsum dolor sit amet.
          </h3>
          <p class="faq-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod nobis, repellat neque non
            dicta
            fugiat veritatis sit delectus perspiciatis quis?</p>
          <button class="faq-toggle">
            <i class="fas fa-angle-down"></i>
          </button>
        </div>


        <div class="faq active">
          <h3 class="faq-title">
            Lorem ipsum dolor sit amet.
          </h3>
          <p class="faq-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod nobis, repellat neque non
            dicta
            fugiat veritatis sit delectus perspiciatis quis?</p>
          <button class="faq-toggle">
            <i class="fas fa-angle-down"></i>
          </button>
        </div>

        <div class="faq">
          <h3 class="faq-title">
            Lorem ipsum dolor sit amet.
          </h3>
          <p class="faq-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod nobis, repellat neque non
            dicta
            fugiat veritatis sit delectus perspiciatis quis?</p>
          <button class="faq-toggle">
            <i class="fas fa-angle-down"></i>
          </button>
        </div>

        <div class="faq">
          <h3 class="faq-title">
            Lorem ipsum dolor sit amet.
          </h3>
          <p class="faq-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod nobis, repellat neque non
            dicta
            fugiat veritatis sit delectus perspiciatis quis?</p>
          <button class="faq-toggle">
            <i class="fas fa-angle-down"></i>
          </button>
        </div>

        <div class="faq">
          <h3 class="faq-title">
            Lorem ipsum dolor sit amet.
          </h3>
          <p class="faq-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod nobis, repellat neque non
            dicta
            fugiat veritatis sit delectus perspiciatis quis?</p>
          <button class="faq-toggle">
            <i class="fas fa-angle-down"></i>
          </button>
        </div>
      </div>
    </div>



  </main>

  <script src="/public/assests/js/app.js"></script>
</body>

</html>