a{
    display: inline-block;
    white-space: nowrap;
}

button{
    font-size: 2rem;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: -250px;
    margin-left: 220px;
    display: inline-block;
    border-color: white;
    border: border-box;
    padding: 10px 30px;
    cursor: pointer;
    border: 2px solid #fff; 
    background-color: transparent;
}

span{
    margin-left: 350px;
    margin-top: -250px;
}