@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

main {
  margin-top: 80px;
}

#about {
  display: block;
  background-color: rgba(104, 190, 240, 0.1);
  padding: 10px 25px;
}

#about:hover {
  background-color: rgba(104, 190, 240, 0.3);
  z-index: 2;
  transform: scale(1.01);
  transition: all 0.9s ease;
  box-shadow: 2px 2px 2px #000;
}

section .reg {
  display: block;
  /* background-image: url(../images/hero.jpg); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.hero p {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 20px;
}

.hero h1 {
  font-size: 60px;
  font-weight: 600;
  color: #0082e6;
  margin-bottom: 20px;
}

.hero .btn {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  background-color: transparent;
  padding: 10px 30px;
  /* border-radius: 50px; */
  transition: all 0.3s ease;
  margin-top: 20px;
  border: 2px solid #fff;
  cursor: pointer;
}

div .hero .hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  align-items: center;
  color: #fff;
}

section {
  border-width: 5px;
  height: 100%;
  width: 100%;
  position: relative;
  margin: 0 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}

/* section .reg{
    background-color: #87bde6;
    color: #fff;
    width: 50%;
    height: 100%;
    position: absolute;
    margin: 0 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

:root {
  --accent-color: #0082e6;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #eee;
  color: #444;
}

h1 {
  margin: 50px 0 30px;
  text-align: center;
  color: var(--accent-color);
  top: 80px;
}

.faq-container {
  top: 80px;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 15px;
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.faq {
  box-sizing: border-box;
  background: transparent;
  padding: 30px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.faq:not(:first-child) {
  border-top: 1px solid #e6e6e6;
}

.faq-title {
  margin: 0 35px 0 0;
}

.faq-text {
  margin: 30px 0 0;
  display: none;
  line-height: 1.6rem;
}

.faq.active {
  background-color: #f8f8f8;
  box-shadow: inset 4px 0px 0px 0px var(--accent-color);
}

.faq.active .faq-title {
  color: var(--accent-color);
}

.faq.active .faq-text {
  display: block;
}

.faq-toggle {
  background-color: transparent;
  border: 1px solid #e6e6e6;
  color: inherit;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding-top: 3px;
  position: absolute;
  top: 30px;
  right: 30px;
  height: 30px;
  width: 30px;
  transition: 0.3s ease;
}

.faq-toggle:focus {
  outline: none;
}

.faq.active .faq-toggle {
  transform: rotate(180deg);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  color: #fff;
}


@media(max-width: 980px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
}

@media(max-width: 860px) {
  label.logo {
    font-size: 25px;
    padding-left: 50px;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  a:hover,
  a.active {
    background-color: none;
    color: #0082e6;
  }
}

@keyframes flicker-full {

  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    opacity: 0.99;
  }

  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.4;
  }
}